.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; // Забезпечує, щоб хедер був поверх усіх інших елементів
    background-color: #f8f9fa;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь внизу */
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        img {
            width: 100px; // Змініть ширину фотографії за вашими потребами
            height: auto; // Зберігаємо пропорції, автоматично регулюючи висоту
            border-radius: 50%; // Заокруглюємо кути, щоб зробити фотографію круглою
            margin-left: 20px;
        }
    }
    
    .navbar {
        ul {
            list-style-type: none; // Видаляємо маркери списку
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin-right: 20px; // Відступи між пунктами меню

                a {
                    text-decoration: none; // Видаляємо підкреслення посилання
                    color: #333; // Колір тексту посилань

                    &:hover {
                        color: #007bff; // Колір тексту посилань при наведенні
                    }
                }
            }
        }
    }
}

.section1-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; // ваш фоновий колір, якщо потрібно
    color: #000000; // ваш колір тексту
}

.section1-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; // адаптивна ширина вашого контенту
    padding: 0 20px; // відступи по краях
}

.section1-text {
    flex: 1;
    order: 1;
    text-align: left; // текст вирівнюємо зліва
}

.section1-text h1 {
    font-size: 2em;
    margin: 0;
}
.section1-text p {
    font-size: 1.2em;
    margin-right: 20px;
    margin-top: 20px;
}

.section1-image {
    flex: 1;
    order: 2;
    text-align: right; // текст вирівнюємо зправа
}

.section1-image img {
    max-width: 100%;
    height: auto;
}

.section2-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242b36; // ваш фоновий колір, якщо потрібно
    color: #fff; // ваш колір тексту
}

.section2-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; // адаптивна ширина вашого контенту
    padding: 0 20px; // відступи по краях
}

.section2-text {
    flex: 1;
    order: 2;
    margin-left: 20px;
    text-align: left; // текст вирівнюємо зліва
}

.section2-text h1 {
    font-size: 2em;
    margin: 0;
}

.section2-text p {
    font-size: 1.2em;
    margin-right: 20px;
    margin-top: 20px;
}

.section2-image {
    flex: 1;
    order: 1;
    text-align: left; // текст вирівнюємо зліва
}

.section2-image img {
    max-width: 100%;
    height: auto;
}

.Contact-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; // ваш фоновий колір, якщо потрібно
    color: #000000; // ваш колір тексту
}

.Contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; // адаптивна ширина вашого контенту
    padding: 0 20px; // відступи по краях
}

.Contact-text {
    flex: 1;
    order: 1;
    text-align: left; // текст вирівнюємо зліва
}

.Contact-text h1 {
    font-size: 2em;
    margin: 0;
}

.Contact-text p {
    font-size: 1.2em;
    margin-right: 20px;
    margin-top: 20px;
}

.Contact-image {
    flex: 1;
    order: 2;
    text-align: right; // текст вирівнюємо зправа
}

.Contact-image img {
    max-width: 100%;
    height: auto;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    font-size: 18px;
    border: none;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    opacity: 0.7;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  #Contact-us {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(1px);
    }
}

.Contact-us-container {
    margin-top: 20px; /* Додайте потрібний відступ між текстом і кнопкою */
}

.section1-section,
.section2-section,
.Contact-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px; // відступи по краях
}

.section1-content,
.section2-content,
.Contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; // адаптивна ширина вашого контенту
    width: 100%;
}

.section1-text,
.section2-text,
.Contact-text {
    flex: 1;
    text-align: left;
}

.section1-image,
.section2-image,
.Contact-image {
    flex: 1;
    text-align: right;
}

.section1-image img,
.section2-image img,
.Contact-image img {
    max-width: 100%;
    height: auto;
}

// Встановлення переходу для ефекту появи
.section1-section,
.section2-section,
.Contact-section {
    .section1-content,
    .section2-content,
    .Contact-content {
        opacity: 0; // Початкова прозорість: елементи приховані
        transition: opacity 2s ease; // Плавний перехід протягом 0.5 секунди
        transition: opacity 2s ease, transform 2s ease; // Властивість переходу з появою та зміщенням
    }
    
    .section1-content.visible,
    .section2-content.visible,
    .Contact-content.visible {
        opacity: 1; // Значення прозорості при з'явленні
        transform: translateY(0); // Значення зміщення по вертикалі при з'явленні
    }
}

.footer {
    background-color: #f8f9fa; /* Колір футера */
    padding: 20px 0; /* Відступи від вмісту футера */
    text-align: center; /* Вирівнювання тексту по центру */
    position: relative; 
    width: 100%; /* Ширина футера на всю ширину екрану */
    z-index: 9999; /* Встановлюємо вище за іншими елементами */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Тінь вверху футера */
}

.footer-content {
    max-width: 1200px; /* Максимальна ширина контенту футера */
    margin: 0 auto; /* Центруємо контент по горизонталі */
}

.footer p {
    margin: 0; /* Видаляємо зовнішні відступи для абзацу */
    color: #495057; /* Колір тексту футера */
    font-size: 14px; /* Розмір шрифту */
}
.section1-content,
.section2-content,
.Contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; // адаптивна ширина вашого контенту
    padding: 0 20px; // відступи по краях

    @media (max-width: 768px) {
        flex-direction: column-reverse; // Змінюємо порядок для малих екранів
    }
}
